@{
    ViewBag.Title = "健康高平<平安堂>";
    Layout = "~/Views/Shared/_LayoutMobileIndexcshtml.cshtml";
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        123456
    </div>
</nav>
