
@{
    ViewBag.Title = "调理记录";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(function () {
        $("#btnQuickOperation").removeClass("hidden");
        $("#bs-example-navbar-collapse-1").removeClass("hidden");
    });
</script>

<div id="main" class="container">
    

    <ul class="list-group" id="lstCondition">
        
    </ul>
</div>

