
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}

<script>
    $(function () {
        $("#btnQuickOperation").removeClass("hidden");
        $("#bs-example-navbar-collapse-1").removeClass("hidden");
    });
</script>

<h2>Edit</h2>

@TempData["ID"]

