@{
    ViewBag.Title = "会员表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        BindCombobox();
        InitControl();
    })

    //初始化绑定下拉框
    function BindCombobox() {
        //性别
        BindDropItem("#Sex", "SexCategory", "==请选择==");
        //病种
        BindDropItem("#Disease", "Disease", "==请选择==");
        //平安堂组别
        BindDropItem("#SafeTangGroup", "SafeTangGroup", "==请选择==");
    }

    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/CustomerModule/Member/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CustomerModule/Member/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <div class="bd" style="border-bottom: none; margin: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">基本信息</div>
                @*<div id="Tabdiagnosis" class="tab_list bd " onclick="Tabchange('diagnosis')">诊断记录</div>*@
            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <!--基本信息-->
        <div id="basic" class="tabPanel">
            <table class="form">
                <tr>
                    <th class='formTitle'>姓名：</th>
                    <td class='formValue'>
                        <input id="Name" maxlength=20 type="text" class="txt" datacol="yes" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>年龄：</th>
                    <td class='formValue'>
                        <input id="Age" maxlength=10 type="text" class="txt" datacol="yes"/>
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>性别：</th>
                    <td class='formValue'>
                        <select id="Sex" class="txtselect" datacol="yes" ></select>
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>电话：</th>
                    <td class='formValue'>
                        <input id="Tel" maxlength=11 type="text" class="txt" datacol="yes" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>登录密码：</th>
                    <td class='formValue'>
                        <input id="Password" maxlength=11 type="password" class="txt" datacol="yes" err="登录密码" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>生日：</th>
                    <td class='formValue'>
                        <input id="Birthday" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>职业：</th>
                    <td class='formValue'>
                        <input id="Profession" type="text" class="txt" datacol="yes" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>家庭住址：</th>
                    <td class='formValue'>
                        <input id="HomeAddress" maxlength=200 type="text" class="txt" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>病种：</th>
                    <td class='formValue'>
                        <select id="Disease" class="txtselect" datacol="yes"></select>
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>亚健康：</th>
                    <td class='formValue'>
                        <select id="SubHealth" class="txtselect" datacol="yes" >
                            <option value="是">是</option>
                            <option value="否">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>组别：</th>
                    <td class='formValue'>
                        <select id="SafeTangGroup" class="txtselect" datacol="yes" ></select>
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>组别号：</th>
                    <td class='formValue'>
                        <input id="GroupNumber" type="text" class="txt" datacol="yes" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>入会时间：</th>
                    <td class='formValue'>
                        <input id="MembershipDate" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" />
                    </td>
                </tr>
                <tr>
                    <th class='formTitle'>到期时间：</th>
                    <td class='formValue'>
                        <label id="ExpireDate" type="text" class="txt Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d',isShowClear: false, readOnly: true })" />
                    </td>
                </tr>
                @*<tr>

                        <th class='formTitle'>身份证：</th>
                        <td class='formValue'>
                            <input id="IDCardNumber" maxlength=18 type="text" class="txt" err="身份证" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <th class='formTitle'>家庭住址：</th>
                        <td class='formValue'>
                            <input id="HomeAddress" maxlength=200 type="text" class="txt" err="家庭住址" checkexpession="NotNull" />
                        </td>
                        <th class='formTitle'>现住址：</th>
                        <td class='formValue'>
                            <input id="LiveAddress" maxlength=200 type="text" class="txt" err="现住址" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <th class='formTitle'>QQ号：</th>
                        <td class='formValue'>
                            <input id="QQ" maxlength=50 type="text" class="txt" err="QQ号" checkexpession="NotNull" />
                        </td>
                        <th class='formTitle'>邮箱：</th>
                        <td class='formValue'>
                            <input id="Email" maxlength=50 type="text" class="txt" err="邮箱" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <th class='formTitle'>签名：</th>
                        <td class='formValue'>
                            <input id="Signature" maxlength=500 type="text" class="txt"   />
                        </td>
                        <th class='formTitle'>备注：</th>
                        <td class='formValue'>
                            <input id="Remark" maxlength=200 type="text" class="txt"   />
                        </td>
                    </tr>*@
                <tr></tr>
            </table>
        </div>
        <div id="diagnosis" class="tabPanel" style="display: none;">
            <table class="form">
                <tr>
                    <th class="formTitle">
                        中医诊断：
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="ChineseDiagnosis" class="txtArea" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        西医诊断：
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="WESTDiagnosis" class="txtArea" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">
                        病历情况：
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="MedicalRecord" class="txtArea" rows="8"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
