@{
    ViewBag.Title = "体质检测记录表》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CustomerModule/Physique/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/CustomerModule/Physique/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>姓名：</th>
            <td class='formValue'>
                <input id="name" maxlength=50 type="text" class="txt" datacol="yes" err="姓名" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>电话：</th>
            <td class='formValue'>
                <input id="tel" maxlength=50 type="text" class="txt" datacol="yes" err="电话" checkexpession="MobileOrNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>体质监测结果：</th>
            <td class='formValue'>
                <textarea id="result" maxlength=-1 class="txtArea"  ></textarea>
            </td>
        </tr>
        <tr>
        </tr>
    </table>
</form>
